# Dossiers
node_modules/
dist/
build/
coverage/

# Fichiers de configuration
.env
.env.local
.env.*.local
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de dépendances
package-lock.json
yarn.lock

# Ignorer tout dans src sauf le dossier niveau
/src/*
!/src/modules/
/src/modules/*
!/src/modules/niveau/

# Configuration
tsconfig.json
nodemon.json

# Tests
/test
/tests
/coverage